:root {
  --bg0: #282828;
  --bg0h: #1d2021;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;
  --bg5: #928374;
  --bg6: #a89984;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --orange: #d65d0e;
}

@-moz-document domain(fosstodon.org) {
  * {
  }
  .layout-single-column .ui__header {
    background-color: var(--bg0) !important;
  }
  a {
    color: var(--orange) !important;
  }
  a.button {
    background-color: var(--blue);
  }
  a.button:hover {
    background-color: #83a598 !important;
  }
  .status__prepend,
  .status,
  .status-public,
  .status-reply {
    color: var(--fg0) !important;
    background-color: var(--bg0) !important;
  }
  .column-header {
    background-color: var(--bg1) !important;
    color: var(--fg1) !important;
  }
  .status__prepend,
  .status,
  .status-public,
  .status-reply,
  .column-header > p {
    color: var(--fg0) !important;
  }
  bdi {
    strong {
      color: #b8bb26 !important;
    }
  }
  .columns-area__panels__pane--navigational .navigation-panel {
    background-color: var(--bg0) !important;
  }
}

@-moz-document domain(github.com) {
  .Header {
    background-color: var(--bg0) !important;
  }
  .header-search-button {
    background-color: var(--bg0h) !important;
  }
  repo > a {
    color: var(--red) !important;
  }
  repo > pinned-item-list-item {
    background-color: var(--bg1) !important;
    color: var(--fg0);
  }
}

@-moz-document domain(chat.openai.com) {
  * {
    font-family: "JetBrainsMono Nerd Font" !important;
    color: var(--fg0) !important;
  }
  pre {
    bg-black {
      background-color: var(--bg0);
    }
  }
  text-base {
  }
}
@-moz-document domain(youtube.com) {
  * {
    font-family: "FiraCode Nerd Font" !important;
    color: var(--fg1) !important;
  }
  html,
  body {
    background-color: var(--bg1) !important;
  }
}

@-moz-document domain(soundcloud.com) {
  * {
    font-family: "FiraCode Nerd Font" !important;
  }
}

@-moz-document domain(bevyengine.org) {
  * {
    font-family: "JetBrainsMono Nerd Font" !important;
  }
}

@-moz-document domain(codewars.com) {
  * {
    font-family: "JetBrainsMono Nerd Font" !important;
  }
}
